/.gradle/
/gradle.properties

.idea/
.build/
bin/
out/

# message-format
/message-format/src/main/antlr/gen/
/message-format/src/main/gen/
/message-format/src/main/generated/
*.tokens

*.iml
.DS_Store
/message-gradle-plugin/src/main/generated/
