pre.rouge table td { padding: 5px; }
pre.rouge table pre { margin: 0; }

pre.rouge {
  background-color: #f8f8f8;
}


/* Message */
pre.rouge code[data-lang="msg"] { color: #111; }
pre.rouge code[data-lang="msg"] .kc { color: #008; }
pre.rouge code[data-lang="msg"] .kv { color: #800; }
pre.rouge code[data-lang="msg"] .m { color: #066; }
pre.rouge code[data-lang="msg"] .nn { color: #086010; text-decoration: underline; }
pre.rouge code[data-lang="msg"] .nv { color: #066; font-weight: bold; }
pre.rouge code[data-lang="msg"] .o { color: #606; }
pre.rouge code[data-lang="msg"] .p { color: #660; }
pre.rouge code[data-lang="msg"] .s1 { color: #d14; }
pre.rouge code[data-lang="msg"] .s2 { color: #d14; }
pre.rouge code[data-lang="msg"] .se { color: #777; }
